[Desktop Entry]
Version=1.0
Name=Mount Google Docs
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.

GenericName=Mount Google Docs

# Gnome and KDE 3 uses Comment.
Comment=Mount your Google Docs

Exec=gui.py
Terminal=false
Type=Application
Categories=GTK;Network;
